@use "@/styles/vars";

.event-filter-bar {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 10px 0;
  width: 100%;
  background-color: #ffffff;
  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    
    .filter-container {
      margin-top: 10px;
      width: 100%;
    }
    
    .search-container, .select-wrapper {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  
  .search-container {
    position: relative;
    width: 329px;
    
    .search-icon {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: vars.$gray2;
      font-size: 14px;
      z-index: 1;
    }
    
    .search-input {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      padding: 10px 12px 10px 36px;
      border-radius: 12px;
      border: 1px solid vars.$gray1;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      outline: none;
      appearance: none;
      
      &:focus {
        border-color: vars.$secondaryblue;
      }
      
      &::placeholder {
        color: vars.$gray2;
      }
    }
  }
  
  .filter-container {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .select-wrapper {
    position: relative;
    box-sizing: border-box;
    
    &:first-child {
      width: 263px;
    }
    
    &:last-child {
      width: 190px;
    }
    
    .filter-select {
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: white;
      width: 100%;
      height: 40px;
      padding: 10px 32px 10px 12px;
      border-radius: 12px;
      border: 1px solid vars.$gray1;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      cursor: pointer;
      outline: none;
      
      &:focus {
        border-color: vars.$secondaryblue;
      }
    }
    
    .select-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: vars.$gray2;
      font-size: 12px;
      pointer-events: none;
    }
  }
} 