@use "@/styles/vars";

.admin-filter-bar {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;

  .admin-filter-bar-title {
    font-size: 1.4em;
    font-weight: bold;
    color: vars.$primaryblack;
    margin: 0;
  }

  .admin-filter-bar-filters {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    margin-left: auto;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;

    .admin-filter-bar-filters {
      width: 100%;
    }
  }
}
