.spinner {
  margin: 0 auto 0;
  text-align: center;
  display: inline-block;
}

.spinner > div {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
  background-color: #EEE;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.1s infinite ease-in-out both;
  animation: bouncedelay 1.1s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}