@import "styles/vars";

.button-component {
    .button-icon {
        display: inline-block;
        text-align: center;
        margin-right: 10px;
    }

    .generic-button {
        display: block;
        text-align: center;
        border-radius: 100px;
        font-size: $checkin-fontsize;
        // background: $secondary-color;
        color: $white;
        padding: $sidebar-vertical-spacing;
        width: $checkin-width;
        height: $input-button-size;
        border: none;
        outline: none;
    }

    .blue {
        background: $--secondaryblue;
        box-shadow: 0 4px 0 $primaryblue;
    }

    .blue-signup {
        background: $--secondaryblue;
        box-shadow: 0 4px 0 #3167ae;
    }

    .green {
        background: $light-green;
        box-shadow: 0 4px 0 $dark-green;
    }

    .red {
        background: $light-red;
        box-shadow: 0 4px 0 $dark-red;
    }

    .gray {
        background: $white;
        border: solid 3px $gray1;
        color: $gray1;
    }

    .event-button {
        background: $--secondaryblue;
        width: $event-img-width;
        height: 34px;
        font-size: 14px;
    }
}
