@import "styles/vars";

.hidden { display: none; }

.profile-wrapper {
    margin-left: $sidebar-width;
    padding-top: 60px;
    padding-left: 60px;
    overflow: visible;
    transition: margin-left 0.125s ease-in-out;

    .profile-action-button {
        margin: 6px 6px;
    }

    form {
        .form-elem {
            padding-bottom: 30px;

            p {
                padding: 2px 0px;
                font-size: 18px;
            }
        }

        span {
            display: inline-block;
            outline: none;
            border-bottom: 2px dashed #AAAAAA;
            min-width: 40px;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            outline: none;
            background: none;
            border-bottom: 2px dashed #AAAAAA;
        }
    }


    @media (max-width: 700px) {
        margin-left: 0px;
        margin-top: 30px;
    }
}