.admin-dashboard {
    .faded-background {
        position: fixed;
        width: calc( 100% - 685px);
        height: 100%;
        background: rgba($primaryblue, 0.5);
        right: 400px;
        top: 0px;
        z-index: 10000;
    }
    .date-month {
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .add-event-popup {
        // display: none;
        width: 400px;
        height: 100%;
        position: fixed;
        right: 0px;
        top: 0px;
        background: #D3D3D3;
        z-index: 9000;

        .overlay {
            position: relative;
            background: white;
            height: 100%;
            margin-top: 180px;
            width: 400px;
            padding: 25px;

            .split {
                border-bottom: 1px solid $--disabled;
                width: 350px;
                margin: 25px 0;
            }
        }

        .buttons {
            
            text-align: center;
            width: 400px;
            margin: 15px auto;
            .add-event-button {
                margin-right: 20px;
            }
        }


        @mixin admin-input-mixin ($width) {
            width: $width;
            margin-right: 10px;
            input {
                width: $width - 10px - 2px;
                padding: 5px;
                margin: 2px;
                border-radius: 5px;
                border: 1px solid $--disabled;
            }
        }

        .admin-input {
            display: inline-block;
            span {
                margin-left: 3px;
            }
        }

        .full {
            @include admin-input-mixin(350px)
        }

        .half {
            @include admin-input-mixin(170px);
        }

        .committee {
            @include admin-input-mixin(300px);
        }

        .points {
            @include admin-input-mixin(40px);
        }
    }
}

.admin-dashboard .event-day {
    padding: 0px 20px;

    h2 {
        margin-top: 15px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.admin-dashboard .admin-event-tile {
    width: 100%;

    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;

    .top {
        display: table;
        height: 100px;
        .cover {
            width: 150px;
            height: 100px;
            background-color: #F2F2F2;
            background-position: center center;
            background-size: cover;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

        }
        .event-header {
            display: table-cell;
            vertical-align: middle;
            padding-left: 10px;

            .event-title, .event-committee {
                margin: 0px;
            }
        }
    }

    .bottom {
        display: none;
        padding: 15px;
        .event-link {
            margin: 5px 0;
        }
        .right {
            display: block;
            float: left;
            .location {
                display: block;
                padding: 0px;
                margin-top: 5px;
            }

        }

        .left {
            display: block;
            border-left: none;
            float: left;
            border-right: 1px solid $--secondaryblack;
            margin-right: 5px;
            padding-right: 5px;

            .points {
                text-align: center;
                width: 100%;
                font-weight: bold;
                font-size: 1.2em;
            }

            .label {
            }
        }

        .edit-delete-buttons {
            display: block;
            float: right;

            @media(max-width: 750px) {
                float: clear;
                display: inline-block;
                width: 100%;
                margin: 0 auto;
                margin-top: 8px;
                text-align: center;
            }

            .edit-event-button {
                margin-right: 5px;
            }
        }
    }

    &.selected {
        .bottom {
            display: inherit;
            border-top: 1px solid $--disabled;
        }

        .cover {
            border-bottom-left-radius: 0px;
        }
    }


    
}