.admin-dashboard {
    .add-event-overlay {
        background: rgba($primaryblue, 0.7);
        position: fixed;
        overflow: hidden;
        z-index: 12;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.25s ease-in-out;
        pointer-events: none;

        &.showing {
            opacity: 1;
            pointer-events: all;
        }
        
        @media (max-width: 700px) {
            &.showing .event-sidebar {
                width: 100%;
            }
        }

        .event-sidebar {
            position: fixed;
            top: 0px;
            right: -400px;
            height: 100%;
            width: 400px;
            overflow-y: scroll;
            background-color: white;
            transition: 0.25s ease-in-out;
            box-shadow: 0px 0px 3px rgba($primaryblue, 0.7);

            .cover-img {
                width: 100%;
                height: 240px;
                background: $gray1;

                img {
                    height: 100%;
                    width: 100%;
                    background: no-repeat center center fixed;
                    background-size: cover;
                    object-fit: cover;
                }
            }

            @media (max-width: 700px) {
                .cover-img {
                    height: 55vw;
                }
            }

            .editor {
                padding: 20px;

                .input-row {
                    margin-bottom: 5px;
                }

                .divider {
                    width: 100%;
                    height: 1px;
                    background-color: #DADADA;
                    margin: 15px 0px 20px 0px;
                }


                .input-field {
                    display: inline-block;
                    width: 100%;

                    p {
                        font-size: 11px;
                        font-family: 'Lato', sans-serif;
                        font-weight: bold;
                        color: $--secondaryblack;
                        text-align: left;
                        margin-bottom: 5px;

                        span.info {
                            font-size: 0.9em;
                            font-weight: normal;
                            color: $gray2;
                        }
                    }

                    input {
                        border-radius: 5px;
                        border: solid 1px $gray2;
                        height: 16px;
                        margin-bottom: 5px;
                        padding: 7px;
                        font-size: 14px;
                        outline: none;
                        width: calc(100% - 14px);

                        &:focus {
                            border: solid 1px $secondaryblue;
                        }

                        &.error {
                            border: solid 1px red;
                        }
                    }

                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border: none;
                        outline: none;
                        background: none;
                        border-radius: 5px;
                        border: solid 1px $gray2;
                        margin-bottom: 5px;
                        padding: 7px;
                        font-size: 14px;
                        width: 100%;

                        &:focus {
                            border: solid 1px $secondaryblue;
                        }
                    }

                    textarea {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border: none;
                        outline: none;
                        background: none;
                        border-radius: 5px;
                        border: solid 1px $gray2;
                        margin-bottom: 5px;
                        padding: 7px;
                        font-size: 14px;
                        width: calc(100% - 14px);
                        min-height: 120px;
                        resize: none;

                        &:focus {
                            border: solid 1px $secondaryblue;
                        }
                    }

                    .react-datepicker__input-container {
                        width: 100%;
                    }

                    &.one-fourth-width {
                        width: calc(25% - 8px);
                        margin-right: 10px;
                    }

                    &.one-fourth-width:last-child {
                        margin-right: 0px;
                    }

                    &.half-width {
                        width: calc(50% - 5px);
                        margin-right: 10px;
                    }

                    &.half-width:last-child {
                        margin-right: 0px;
                    }

                    &.three-fourth-width {
                        width: calc(75% - 5px);
                        margin-right: 10px;
                    }

                    &.three-fourth-width:last-child {
                        width: calc(25% - 5px);
                        margin-right: 0px;
                    }
                }

                .button-area {
                    text-align: center;
                    width: 100%;

                    button {
                        margin: 0px 5px;
                    }
                }
            }
        }

        &.showing .event-sidebar {
            right: 0px;
        }
    }
}

.admin-dashboard .event-day {
    padding: 0px 20px;

    h2 {
        margin-top: 15px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.admin-dashboard .admin-event-tile {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px #D2D2D2;
    border-radius: 4px;

    &:hover {
        background: rgba(240,240,240,0.35);
        cursor: pointer;
    }

    .top {
        display: table;
        height: 100px;
        .cover {
            width: 150px;
            height: 100px;
            background-color: #F2F2F2;
            background-position: center center;
            background-size: cover;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

        }
        .event-header {
            display: table-cell;
            vertical-align: middle;
            padding-left: 20px;

            .event-title, .event-committee {
                margin: 0px;
            }
        }
    }

    .bottom {
        display: none;
        padding: 15px;
        .event-link {
            margin: 5px 0;
        }
        .right {
            display: block;
            float: left;
            .location {
                display: block;
                padding: 0px;
                margin-top: 5px;
            }

        }

        .left {
            display: block;
            border-left: none;
            float: left;
            border-right: 1px solid $--secondaryblack;
            margin-right: 5px;
            padding-right: 5px;

            .points {
                text-align: center;
                width: 100%;
                font-weight: bold;
                font-size: 1.2em;
            }

            .label {
            }
        }

        .edit-delete-buttons {
            display: block;
            float: right;

            @media(max-width: 750px) {
                float: clear;
                display: inline-block;
                width: 100%;
                margin: 0 auto;
                margin-top: 8px;
                text-align: center;
            }

            .edit-event-button {
                margin-right: 5px;
            }
        }
    }

    &.selected {
        .bottom {
            display: inherit;
            border-top: 1px solid $--disabled;
        }

        .cover {
            border-bottom-left-radius: 0px;
        }
    }
}