@import "styles/vars";

.hidden { display: none; }

.events-dashboard {
    margin-left: $sidebar-width;
    padding: 30px;
    overflow: visible;
    transition: margin-left 0.125s ease-in-out;

    .earlier-events-icon {
        position: relative;
        text-align: center;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.125s ease-in-out;

        &:hover {
            opacity: 1.0;
        }
    }

    .checkin-button {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10;
    }

    @media (max-width: 700px) {
        margin-left: 0px;

        .checkin-button {
            top: inherit;
            right: 30px;
            bottom: 30px;
        }

        .earlier-events-icon {
            margin-top: 50px;
        }
    }

    @media (max-width: 425px) {
        padding: 30px 10px;
    }
}

.event-day {
    margin-top: 30px;
    h1 {
        color: #333333;
    }

    @media (max-width: 700px) {
        text-align: center;
    }
}

.event-card {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 320px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #D2D2D2;
    background-color: white;
    transition: 0.125s ease-in-out;

    @media (max-width: 425px) {
        margin: 20px 0px;
    }

    @media (max-width: 340px) {
        width: 300px;
        .subcontent {
            .left {
                width: 180px !important;
            }
        }
    }

    &:hover {
        box-shadow: 0px 0px 20px #C2C2C2;
        transform: scale(1.01, 1.01);
        cursor: pointer;
    }

    &.selected {
        box-shadow: 0px 0px 30px #B2B2B2;
        transform: scale(1.02, 1.02);
    }

    .cover {
        width: 100%;
        height: 180px;
        background-color: #F2F2F2;
        background-position: center center;
        background-size: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .content { padding: 20px; }

    h2 {
        color: #333333;
        margin: 0;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.0em;
        font-weight: 400;
        color: #555555;
        margin: 5px 0px;
    }
    
    p {
        padding-top: 5px;
    }

    .description {
        p {
            color: #666666;
            font-size: 0.9em;
            font-weight: 300;
        }
    }

    .subcontent {
        border-top: 1px solid #F2F2F2;
        margin-top: 10px;
        padding-top: 10px;
        color: #666666;
        font-weight: 300;

        .left {
            float: left;
            width: 210px;
            font-size: 0.8em;

            .time {
                font-weight: 400;
            }
        }

        .right {
            float: right;
            width: 65px;
            border-left: 1px solid #F2F2F2;

            .points {
                text-align: center;
                width: 100%;
                font-weight: bold;
                font-size: 1.8em;
            }

            .label {
                text-align: center;
                font-size: 0.8em;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background: $primaryblue-alpha;
}

.checkin-popup {
    position: relative;
    margin: 150px auto;
    background: white;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5);

    @media (max-width: 425px) {
        width: 300px;
        margin: 100px auto;

        h2 {
            font-size: 1.2em;
        }
    }

    h2 {
        text-align: center;
        padding-top: 20px;
        color: $primaryblack;
    }

    form {
        margin: auto;
        text-align: center;
        width: 100%;

        input[type=text] {
            border: 1px solid $gray2;
            border-radius: 5px;
            box-sizing: border-box;
            width: $sidebar-input-width;
            height: 30px;
            padding: 5px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
}