@import "styles/vars";

.hidden { display: none; }

.event-day-wrapper {
    display: inline-block;
}

.events-dashboard {
    margin-left: $sidebar-width;
    box-sizing: padding-box;
    padding: 30px;
    padding-left: 15px;
    overflow: visible;
    transition: margin-left 0.125s ease-in-out;

    .earlier-events-icon {
        position: relative;
        text-align: center;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.125s ease-in-out;

        &:hover {
            opacity: 1.0;
        }
    }

    .checkin-button {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10;
    }

    h1 {
        margin-left: 20px;
    }

    &.admin-dashboard .event-day h1 {
        margin-left: 0px;
    }

    @media (max-width: 700px) {
        margin-left: 0px;

        .checkin-button {
            top: inherit;
            right: 30px;
            bottom: 30px;
        }

        .earlier-events-icon {
            margin-top: 50px;
        }
    }

    @media (max-width: 425px) {
        padding: 30px 20px;
    }
}

.event-day {
    margin-top: 30px;
    h1 {
        color: #333333;
        // margin-left: 20px;
        margin-bottom: 10px;
    }

    @media (max-width: 700px) {
        text-align: center;
        
        h1 {
            margin-left: 0px;
        }
    }

    .event-day-line {
        width: 100%;
        height: 1px;
        background-color: #AAA;
    }
}

.event-card {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 320px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #D2D2D2;
    background-color: white;
    transition: 0.125s ease-in-out;

    @media (max-width: 700px) {
        margin: 20px 0px;
    }

    @media (max-width: 340px) {
        width: 300px;
    }

    &:hover {
        background: rgba(240,240,240,0.35);
        cursor: pointer;
    }

    &.selected {
        transform: scale(1.02, 1.02);
    }

    &.selected:hover {
        background: white;
    }

    .cover {
        width: 100%;
        height: 180px;
        position: relative;
        background-color: #F2F2F2;
        background-position: center center;
        background-size: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .points-container {
            position: absolute;
            height: 60px;
            width:  60px;
            border-radius: 50px;
            line-height: 50px;
            right: 12px;
            top: 12px;
            border: 1px solid #DADADA;
            background-color: white;
            text-align: center;

            .label {
                line-height: 0px;
                margin-top: -10px;
                font-size: 0.85em;
            }

            .points {
                font-size: 1.1em;
            }
        }
    }

    .content { 
        padding: 20px; 
    }

    h2 {
        color: #333333;
        margin: 0;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.0em;
        font-weight: 400;
        color: #555555;
        margin: 5px 0px;
    }
    
    p {
        padding-top: 5px;
    }

    .description {
        p {
            color: #666666;
            font-size: 0.9em;
            font-weight: 300;
        }
    }

    .midcontent { 
        display: none;

        .event-link {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    &.selected .midcontent {
        display: block;
    }

    .subcontent {
        border-top: 1px solid #F2F2F2;
        margin-top: 10px;
        padding-top: 10px;
        color: #666666;
        font-weight: 300;
        font-size: 0.8em;

        .time {
            font-weight: 400;
        }

        .location {
            padding-bottom: 0px;
        }
    }
}

.admin-card {
    width: 85%;
    margin: 10px 0px;
    margin-left: 25px;

    .content {
        .edit-delete-buttons, .editable-buttons {
            display: none;
        }  
    }

    .subcontent {
        border-top: 0px;
        margin-top: 0px;
    }

    .edit-delete-buttons {
        display: none;
        .edit-event-button {
            margin-right: 3px;
        }
    }

    h3, .cover, .subcontent .left, .subcontent .location {
        display: none;
    }
    

    &.selected .right {
        display: block;
        float: left;
        .location {
            display: block;
            padding: 0px;
            margin-top: 5px;
        }

    }

    &.selected .left {
        display: block;
        border-left: none;
        float: left;
        border-right: 1px solid $--secondaryblack;
        margin-right: 10px;

        .points {
            text-align: center;
            width: 100%;
            font-weight: bold;
            font-size: 1.2em;
        }

        .label {
        }
    }

    &.selected .edit-delete-buttons {
        display: block;
        // position: relative;
        float: right;
        height: 50px;
        // right: 10px;
    }

    .event-title {
        // min-width: 400px;
        float: left;
        width: 64%;
    }

    .editable-buttons {
        display: none;
        float: right;
        
        .edit-event-button {
            margin-right: 3px;
        }
    }

    .time {
        padding-top: 0px;
    }

    &.editable {
        .description, .points, .time, .location, h2 {
            border-bottom: 1px solid $--secondaryblack;
        }

        .editable-buttons {
            display: inherit;
        }

        .edit-delete-buttons {
            display: none;
        }
    }

    &.add-event-card {
        .event-title {
            margin-bottom: 10px;
        }
    }
}

.admin-dashboard {
    .date-day {
        display: inline-block;
        width: 20px;
        margin: 0;
        margin-right: 4px;
        vertical-align: middle;
    }

    .event-day-class {
        display: inline-block;
        height: 100%;
        text-align: right;
        font-size: 1.6em;
        padding-top: 20px;
        margin-right: 6px;
        width: 5%;

        &.hidden {
            visibility: hidden;
        }
    }      

    .event-day {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.6em;
    }
}
