@import "styles/vars";

.hidden { display: none; }

.leaderboard-wrapper {
    margin-left: $sidebar-width;
    padding: 30px;
    overflow: visible;
    transition: margin-left 0.125s ease-in-out;

    @media (max-width: 700px) {
        margin-left: 0px;
        margin-top: 30px;
    }
}