@use "styles/vars";

.topbar {
  position: fixed;
  height: 61px;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 9;
  color: vars.$gray2;
  background-color: white;
  transition: top 0.125s ease-in-out;
  padding: 0px 24px;
  border-bottom: 1px solid black;

  .topbar-container {
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .topbar-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;

    img {
      height: 61px;
      width: 61px;
      vertical-align: middle;
    }
  }

  a.selected .navigation-item {
    color: vars.$black;
  }

  .navigation-item {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px 4px;
    padding: 0px 10px;
    font-size: 1.3em;
    font-weight: 400;
    color: #A4A4A4;
    transition: 0.125s ease-in-out;

    &:hover {
      color: vars.$secondaryblue;
      cursor: pointer;
    }
  }
}
