.control-panel-wrapper{
	margin-left: $sidebar-width;
	padding: 60px;
	overflow: visible;
	transition:margin-left 0.125s ease-in-out;
	
	.form-elem {
		padding-bottom: 30px;
		
		.control-panel-action-button {
			margin: 6px;
		}

		.control-panel-action-button:first-child {
			margin-left: 0px;
		}
		input[type=text] {
			display: inline-block;
			outline: none;
			border:none;
			width: 100%;
			max-width: 400px;
			border-bottom: 2px dashed #DADADA;
			transition: 0.125s ease-in-out;
			resize: none;
			font-family: Lato,sans-serif;
		}

		input[type=text]:focus {
			border-bottom: 2px solid #AAAAAA;
		}

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: none;
			outline: none;
			background: none;
			border-bottom: 2px dashed #DADADA;
			padding: 5px 0px;
		}
	}
}
