.spacing {
  padding-left: 20px;
  padding-right: 500px;
}

.profile {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

table.test-table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    text-align: left;
    padding: 8px;
  }
}

.control-panel-wrapper {
  margin-left: $sidebar-width;
  padding: 60px;
  overflow: visible;
  transition: margin-left 0.125s ease-in-out;

  .signout-action-button {
    margin: 6px;
  }

  .signout-action-button:first-child {
    margin-left: 0px;
  }

  .deleteevents-action-button {
    margin: 6px;
  }

  .deleteevents-action-button:first-child {
    margin-left: 0px;
  }

  .form-elem {
    padding-bottom: 30px;

    p {
      padding: 2px 0px;
      font-size: 1.1em;

      span {
        font-size: 1.1em;
        padding: 0px 5px;
      }
    }

    .control-panel-action-button {
      margin: 6px;
    }

    .control-panel-action-button:first-child {
      margin-left: 0px;
    }
    input[type="text"] {
      display: inline-block;
      outline: none;
      border: none;
      width: 100%;
      max-width: 400px;
      border-bottom: 2px dashed #dadada;
      transition: 0.125s ease-in-out;
      resize: none;
      font-family: Lato, sans-serif;
      font-size: 20px;
    }

    input[type="text"]:focus {
      border-bottom: 2px solid #aaaaaa;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      background: none;
      border-bottom: 2px dashed #dadada;
      padding: 5px 0px;
    }
  }

  @media (max-width: 700px) {
    margin-left: 0px;
    margin-top: 30px;
  }

  table.leaderboard-table {
    width: 100%;
    border-collapse: collapse;

    thead tr td {
      font-weight: bold;
      font-size: 1.1em;
      color: #333333;
      padding: 12px 10px;
      border-top: 2px solid #cccccc;
      border-bottom: 1px solid #cccccc;

      &.name div img {
        visibility: hidden;
      }
    }

    tr td {
      padding: 10px 10px;
      color: #666666;
      font-size: 0.9em;
      border-bottom: 1px solid #eeeeee;
      vertical-align: middle;
    }

    tr td.name div {
      height: 100%;
      text-align: left;

      img {
        margin-right: 15px;
        margin-left: 5px;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        border-radius: 50%;
      }

      span {
        vertical-align: middle;
      }
    }

    tr.current-user td {
      padding: 20px 10px;
      font-weight: bold;
      font-size: 1.05em;
      color: white;
      background: $secondaryblue;
      // font-size: 1.1em;

      &.name div img {
        margin-left: 0px;
        height: 40px;
        width: 40px;
      }
    }

    @media (max-width: 450px) {
      tr td.name div img {
        display: none;
      }
    }

    @media (max-width: 550px) {
      tr td.rank {
        display: none;
      }
    }

    @media (min-width: 700px) and (max-width: 800px) {
      tr td.name div img {
        display: none;
      }
    }

    @media (min-width: 700px) and (max-width: 750px) {
      tr td.rank {
        display: none;
      }
    }
  }
  .top-users {
    padding: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 160px;

    .top-user {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 33%;
      height: 100%;

      &:first-child {
        padding-left: 5%;
        margin-right: -5%;
      }

      &:last-child {
        padding-right: 5%;
        margin-left: -5%;
      }

      &.top-user-first {
        font-size: 120%;
      }

      div {
        display: inline-block;
      }

      img {
        width: 60px;
        height: 60px;
        margin: 5px 0px;
        text-align: center;
        display: inline-block;
        background: center center fixed;
        background-size: cover;
        border-radius: 50%;
        background-color: #aaa;
      }

      &.top-user-first {
        img {
          width: 70px;
          height: 70px;
        }
      }

      .rank {
        font-size: 1.2em;
        font-weight: bold;
        color: $secondaryblue;
      }

      .name {
        font-weight: bold;
        font-size: 1em;
      }

      .level {
        font-weight: normal;
        color: #666666;
        font-size: 0.8em;
      }

      .points {
        font-weight: normal;
        color: #999999;
        font-size: 0.7em;
      }

      @media (max-width: 500px) {
        .rank {
          font-size: 1.1em;
        }

        .name {
          font-size: 0.9em;
        }

        .level {
          font-size: 0.7em;
        }

        .points {
          font-size: 0.65em;
        }
      }

      @media (max-width: 1000px) {
        &:first-child {
          padding-left: 0;
          margin-right: 0;
        }

        &:last-child {
          padding-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}
