$sidebar-width		: 300px;
$sidebar-vertical-spacing: 10px;
$checkin-width: 120px;


$primary-color: #214D85;
$secondary-color: #2F7EE6;
$tertiary-color: #8FA5C2;
$quaternary-color: #D2DBE7;

$white: #FFFFFF;
$black: #000000;

$org-fontsize: 18px;
$pos-fontsize: 14px;
$username-fontsize: 40px;
$checkin-fontsize: 18px;

