$sidebar-width		: 300px;
$sidebar-vertical-spacing: 10px;
$checkin-width: 120px;
$sidebar-input-width: $sidebar-width - 50px;


$cobalt: #1e4b87;
$black-60: rgba(0, 0, 0, 0.6);
$azul: #277bea;
$black-20: rgba(0, 0, 0, 0.2);
$black-80: rgba(0, 0, 0, 0.8);

$primary-color: #214D85;
$secondary-color: #2F7EE6;
$tertiary-color: #8FA5C2;
$quaternary-color: #D2DBE7;
$light-green: #40DA6F;
$dark-green: #2A8948;

$white: #FFFFFF;
$gray1: #D8D8D8;
$gray2: #979797;
$gray3: #595959;

$black: #000000;

$org-fontsize: 18px;
$pos-fontsize: 14px;
$username-fontsize: 40px;
$checkin-fontsize: 18px;

$input-button-size: 50px;
