$sidebar-width		: 300px;
$sidebar-vertical-spacing: 10px;
$checkin-width: 150px;
$sidebar-input-width: $sidebar-width - 50px;

$primaryblue: rgb(38, 41, 56);
$secondaryblue: rgb(59, 89, 237);
$tertiaryblue: #D2DBE7;
$primaryblack: rgba(0, 0, 0, 0.8);
$--secondaryblack: rgba(0, 0, 0, 0.6);
$--disabled: rgba(0, 0, 0, 0.2);

$primaryblue-alpha: rgba(26, 29, 38, 0.5);
$secondaryblue-dark: rgb(47, 70, 188);

$primary-color: #214D85;
$secondary-color: #2F7EE6;
$tertiary-color: #8FA5C2;
$quaternary-color: #D2DBE7;
$light-green: #34dc6a;
$dark-green: #248a45;
$light-red: #f74e4e;
$dark-red: #c14b4b;

$white: #FFFFFF;
$gray1: #D8D8D8;
$gray2: #979797;
$gray3: #595959;

$black: #000000;

$org-fontsize: 18px;
$pos-fontsize: 14px;
$username-fontsize: 40px;
$checkin-fontsize: 18px;

$input-button-size: 40px;

$event-img-width: 134px;
$event-img-height: 97px;
