@import "tailwindcss";

html,
body {
  margin: 0px;
  height: auto;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  color: #111;
  background-color: #fff;
  color-scheme: light;
}

a,
a:visited {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  color: #1976d2;
}
