.modal-container {
	background-color: #F0F0F0;
	position: fixed;
	top: 20%;
	left: 50%;
	text-align: center;
	height: 100px;
}

.modal-footer {

}


.modal-content {
	background-color: #FEFEFE;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}