.modal-container {
  background-color: #f0f0f0;
  position: fixed;
  top: 20%;
  left: 50%;
  text-align: center;
  height: 100px;
}

.modal-footer {
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
