.modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  min-width: 400px;

  .confirmation-modal-container {
    position: relative;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 35%;
    justify-content: flex-start;
    border-radius: 25px;

    .padding {
      padding: 30px;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      padding-bottom: 30px;
      width: 100%;
      left: 0;

      .button-padding {
        padding: 10px;
      }
    }
  }

  .attendees-modal-container {
    position: absolute;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    justify-content: flex-start;
    border-radius: 25px;

    .padding {
      padding: 30px;
    }

    .modal-table {
      overflow-y: scroll;
      height: 30vh;

      table {
        width: 100%;
      }

      img {
        margin-right: 15px;
        margin-left: 5px;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        border-radius: 50%;
      }
    }
  }
}

thead tr td {
  font-weight: bold;
  font-size: 1.1em;
  color: #333333;
  padding: 12px 10px;
  border-top: 2px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;

  &.name div img {
    visibility: hidden;
  }
}

tr td {
  padding: 10px 10px;
  color: #666666;
  font-size: 0.9em;
  border-bottom: 1px solid #b4b4b4;
  vertical-align: middle;
}
