@import "styles/vars";

p {
	margin: 0;
}

input {
	border: 0;
	padding: 0;
}

.reset-pass-component {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: $primaryblue;

	a.login-link {
		position: absolute;
		top: 32px;
		left: 32px;
		color: white;
	}

	img.corner-logo {
		position: absolute;
		bottom: 32px;
		right: 32px;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
		height: 90px;
		width: 90px;
	}
}

.card {
	width: 552px;
	height: 307px;
	background: $white;
	text-align: center;

	.question {
		font-size: 36px;
		font-weight: bold;
		color: $black;
		margin-top: 65px;
		margin-bottom: 27px;
	}
}
