@use "styles/vars";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  overflow-y: scroll;
  width: vars.$sidebar-width;
  height: auto;
  min-height: 100%;
  transition: left 0.125s ease-in-out;

  background: vars.$primaryblue;
  color: vars.$white;

  .sidebar-container {
    min-height: 680px; /* nit: not *needed* for admin view */
  }

  .side-tag {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .profile-picture {
    padding-top: 60px;

    .profile-img {
      height: 150px;
      width: 150px;
      margin: auto;
      margin-bottom: 1.5 * vars.$sidebar-vertical-spacing;
      background-color: white;
      border: 5px solid vars.$white;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
    }
  }

  .org {
    font-size: vars.$org-fontsize;
    color: vars.$quaternary-color;
  }

  .username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: vars.$username-fontsize;
  }

  .pos {
    font-size: vars.$pos-fontsize;
    margin-bottom: 2 * vars.$sidebar-vertical-spacing;
    color: vars.$quaternary-color;
  }

  .navigation {
    text-align: center;

    a.selected .navigation-tile {
      background: vars.$white;
      box-shadow: 0 0px 0 0 #c0c0c0;
      transform: translateY(4px);
      .icon,
      p {
        color: vars.$secondaryblue;
      }
    }

    .navigation-tile {
      background: vars.$secondaryblue;
      width: 120.5px;
      height: 115px;
      border-radius: 5px;
      background-color: vars.$secondaryblue;
      box-shadow: 0 4px 0 0 #2f46bc;
      color: vars.$white;
      margin: 7px;
      display: inline-block;
      transition: 0.125s;
      transition-timing-function: ease-in-out;
      .icon {
        height: 40px;
        color: vars.$white;
        margin-top: 32px;
      }

      &:hover {
        background: vars.$secondaryblue-dark;
      }

      &:active,
      &.selected {
        background: vars.$white;
        box-shadow: 0 0px 0 0 #c0c0c0;
        transform: translateY(4px);
        .icon,
        p {
          color: vars.$secondaryblue;
        }
      }
    }
  }

  .points-component {
    position: fixed;
    bottom: 0px;
    width: vars.$sidebar-width;
    margin: 0 auto;
    // padding-left: 25px;              //this is 10% of sidebar width I believe. There's some inline styling that must be accounted for too.. :(
    background: vars.$secondaryblue;
    padding-top: 10px;
    padding-bottom: 10px;

    .points-wrapper {
      background: vars.$secondaryblue;
      padding-left: 25px;
    }

    .points-bar {
      width: 250px;
      height: 8px;
      margin: 4px 0px;
      position: relative;
      border-radius: 4px;
      background: vars.$tertiary-color;
    }

    .level-font {
      font-size: 20px;
    }

    .points-earned {
      background: vars.$white;
      border-radius: 4px;
      position: absolute;
      display: inline-block;
      height: 100%;
      left: 0;
    }

    .num-points {
      display: block;
      float: right;
      margin-right: 25px; //this is 2*10% of sidebar width I believe
    }
  }

  .leaderboard {
    position: absolute;
    bottom: 0px;
    width: vars.$sidebar-width;
    border: 0px;
    background: vars.$secondary-color;
    color: vars.$white;
    font-size: 12px;
    height: 40px;
    display: block;
  }

  @media (max-width: 700px) {
    left: -400px;
  }
}
