@import "styles/vars";

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    background: $primary-color;
    color: $white;
    padding-top: 100px;

    .side-tag {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .settings-img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .side-img {
        display: block;
        margin: auto;
        border-radius: 50%;
        margin-bottom: 1.5*$sidebar-vertical-spacing;
        border: 5px solid $white;    
        height: 150px;
    }

    .org {
        font-size: $org-fontsize;
        color: $quaternary-color;
    }

    .username {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: $username-fontsize;
    }

    .pos {
        font-size: $pos-fontsize;
        margin-bottom: 2*$sidebar-vertical-spacing;
        color: $quaternary-color;
    }

    .check-in {
        border-radius: 20px;
        border-bottom: 5px solid $white;
        font-size: $checkin-fontsize;
        display: block;
        margin: auto;
        background: $secondary-color;
        color: $white;
        padding: $sidebar-vertical-spacing;
        width: $checkin-width;
        height: $input-button-size;
        border: 1px solid $secondary-color;       
    }
    .checkin-button {
        height: $checkin-fontsize - 5px;
        margin-right: 5px;
    }

    .points-component {
        width: $sidebar-width;
        height: auto;
        margin: 0 auto;
        margin-left: 25px;              //this is 10% of sidebar width I believe. There's some inline styling that must be accounted for too.. :(
        bottom: 70px;
        position: absolute;
    }

    .level-font {
        font-size: 20px;
    }

    // .points-bar {
    //     margin-top: 5px;
    //     margin-bottom: 5px;
    // }

    .pts {
        margin: 0px;
        display: inline-block;
        height: 10px;
    }

    .points-earned {
        background: $white;
        color: $white;
    }

    .points-left {
        background: $tertiary-color;
        color: $tertiary-color;
    }

    .num-points {
        display: block;
        float: right;
        margin-right: 50px;             //this is 2*10% of sidebar width I believe
    }

    .leaderboard {
        position: absolute;
        bottom: 0px;
        width: $sidebar-width;
        border: 0px;
        background: $secondary-color;
        color: $white;
        font-size: 12px;
        height: 40px;
        display: block;
    }

}
