@import "styles/vars";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    overflow-y: scroll;
    width: $sidebar-width;
    height: auto;
    min-height: 100%;
    transition: left 0.125s ease-in-out;

    background: $primaryblue;
    color: $white;

    .sidebar-container {
        min-height: 680px;
    }

    .side-tag {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .logout-btn {
        position: absolute;
        // top: 15px;
        // left: 15px;
        padding: 15px;
        font-size: 1.4em;
        color: white;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    .profile-picture {
         padding-top: 60px;
        .profile-img {
            display: block;
            margin: auto;
            border-radius: 50%;
            margin-bottom: 1.5*$sidebar-vertical-spacing;
            background-color: white;
            background-size: 120px;
            border: 5px solid $white;
            height: 150px;
            width: 150px;
        }

        .profile-img.admin-profile-img {
            border: 25px solid $white;
            height: 110px;
            width: 110px;
        }
    }

    .org {
        font-size: $org-fontsize;
        color: $quaternary-color;
    }

    .username {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: $username-fontsize;
    }

    .pos {
        font-size: $pos-fontsize;
        margin-bottom: 2*$sidebar-vertical-spacing;
        color: $quaternary-color;
    }


    .navigation {
        text-align: center;
        
        .navigation-tile {
            background: $secondaryblue;
            width: 120.5px;
            height: 115px;
            border-radius: 5px;
            background-color: $secondaryblue;
            box-shadow: 0 4px 0 0 #3167ae;
            color: $white;
            margin: 7px;
            display: inline-block;
            transition: 0.125s;
            transition-timing-function: ease-in-out;
            .icon {
                height: 40px;
                color: $white;
                margin-top: 32px;
            }

            &:hover {
                background: $secondaryblue-dark;
                // background: $white;
                // .icon, p {
                //     color: $secondaryblue;
                // }
                // box-shadow: 0 3px 0 0 #c0c0c0;
                // transform: translateY(1px);
                // cursor: pointer;
            }

            &:active, &.selected {
                background: $white;
                box-shadow: 0 0px 0 0 #c0c0c0;
                transform: translateY(4px);
                .icon, p {
                    color: $secondaryblue;
                }
            }
        }
    }

    .points-component {
        position: fixed;
        bottom: 0px;
        width: $sidebar-width;
        margin: 0 auto;
        // padding-left: 25px;              //this is 10% of sidebar width I believe. There's some inline styling that must be accounted for too.. :(
        background: $secondaryblue;
        padding-top: 10px;
        padding-bottom: 10px;

        .points-wrapper {
            background: $secondaryblue;
            padding-left: 25px;
        }

        .points-bar {
            width: 250px;
            height: 8px;
            margin: 4px 0px;
            position: relative;
            border-radius: 4px;
            background: $tertiary-color;
        }

        .level-font {
            font-size: 20px;
        }

        .points-earned {
            background: $white;
            border-radius: 4px;
            position: absolute;
            display: inline-block;
            height: 100%;
            left: 0;
        }

        .num-points {
            display: block;
            float: right;
            margin-right: 25px;             //this is 2*10% of sidebar width I believe
        }
    }

    // @media only screen and (max-height: 710px) {
    //     .points-component {
    //         position: absolute;
    //         top: 625px;
    //     }
    // }

    .leaderboard {
        position: absolute;
        bottom: 0px;
        width: $sidebar-width;
        border: 0px;
        background: $secondary-color;
        color: $white;
        font-size: 12px;
        height: 40px;
        display: block;
    }

    @media (max-width: 700px) {
        left: -400px;
    }
}
