@import "styles/vars";

.sidebar {
    float: left;
    height: 100vh;
    width: $sidebar-width;
    background: $primaryblue;
    color: $white;
    min-height: 650px;

    .sidebar-container {
        background: $primaryblue;
        height: 954px;
    }

    .side-tag {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .settings-img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .profile-picture {
         padding-top: 70px;
        .profile-img {
            display: block;
            margin: auto;
            border-radius: 50%;
            margin-bottom: 1.5*$sidebar-vertical-spacing;
            border: 5px solid $white;    
            height: 150px;
        }
    }

    .org {
        font-size: $org-fontsize;
        color: $quaternary-color;
    }

    .username {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: $username-fontsize;
    }

    .pos {
        font-size: $pos-fontsize;
        margin-bottom: 2*$sidebar-vertical-spacing;
        color: $quaternary-color;
    }

    
    .navigation {
        text-align: center;
        .navigation-tile {
            background: $secondaryblue;
            width: 120.5px;
            height: 115px;
            border-radius: 5px;
            background-color: $secondaryblue;
            box-shadow: 0 4px 0 0 #3167ae;
            color: $white;
            margin: 7px;
            display: inline-block;
            
            .icon {
                height: 40px;
                color: $white;
                margin-top: 32px;
            }

            &:hover {
                background: $white;
                .icon, p {
                    color: $secondaryblue;
                }
                box-shadow: 0 2px 0 0 #c0c0c0;
            }
        }
    }
    
    
    // .check-in {
    //     border-radius: 20px;
    //     border-bottom: 5px solid $white;
    //     font-size: $checkin-fontsize;
    //     display: block;
    //     margin: auto;
    //     background: $secondary-color;
    //     color: $white;
    //     padding: $sidebar-vertical-spacing;
    //     width: $checkin-width;
    //     height: $input-button-size;
    //     border: 1px solid $secondary-color;
    //     box-shadow: 0 3px 0 $tertiary-color;

    //     .checkin-button {
    //         height: $checkin-fontsize - 5px;
    //         margin-right: 5px;
    //     }
    // }
    

    .points-component {
        position: fixed;
        bottom: 0px;
        width: $sidebar-width;
        margin: 0 auto;
        // padding-left: 25px;              //this is 10% of sidebar width I believe. There's some inline styling that must be accounted for too.. :(
        background: $secondaryblue;
        padding-top: 10px;
        padding-bottom: 10px;

        .points-wrapper {
            background: $secondaryblue;
            padding-left: 25px;
        }

        .level-font {
            font-size: 20px;
        }

        .pts {
            margin: 0px;
            display: inline-block;
            height: 10px;
        }

        .points-earned {
            background: $white;
        }

        .points-left {
            background: $tertiary-color;
        }

        .num-points {
            display: block;
            float: right;
            margin-right: 25px;             //this is 2*10% of sidebar width I believe
        }
    }

    // @media only screen and (max-height: 710px) {
    //     .points-component {
    //         position: absolute;
    //         top: 625px;
    //     }
    // }



    .leaderboard {
        position: absolute;
        bottom: 0px;
        width: $sidebar-width;
        border: 0px;
        background: $secondary-color;
        color: $white;
        font-size: 12px;
        height: 40px;
        display: block;
    }

}
