@import "styles/vars";

.events-dashboard {

    margin-left: $sidebar-width;
    padding: 30px;
    overflow-y: auto;
    max-height: 954px;

    .earlier-events-icon {
        position: relative;
        text-align: center;
    }

    .checkin-button {
        position: fixed;
        top: 20px;
        right: 20px;
    }
}

.event-tile {
    border-top: 1px solid $black;
    padding-top: 15px;
    padding-bottom: 10px;

    white-space:nowrap;
    overflow:hidden;

    &:hover + .event-dropdown {
        display: inherit;
    }

    .img-wrapper {
        display: inline-block;
    }
    .event-img {
        height: $event-img-height;
        width: $event-img-width;
        margin-right: 20px;
    }
    .event-info-wrapper {
        display: inline-block;
        white-space:nowrap;
        overflow:hidden;
        vertical-align: top;
        margin-top: 17px;

        .event-info-right, .event-info-left {
            display: inline-block;
        }
        .event-info-left {
            width: 400px;
        }

        .event-info {
            height: 29px;
            // word-wrap: normal;
            white-space: normal;

            .event-icon {
                text-align: center;
                width: 20px;
                margin-right: 7px;
            }
        }

        .event-info-right {
            padding-left: 20px;
        }
    }
}

.event-dropdown {
    width: 100%;
    display: none;

    &:hover {
        display: inherit;
    }

    .event-button {
        margin-bottom: 7px;
    }

    .dropdown-left, .dropdown-right {
        display: inline-block;
    }

    .dropdown-left {
        text-align: center;
        width: $event-img-width;
        margin-right: 27px;
    }

    .dropdown-right {
        min-width: 200px;
        max-width: 455px;
        vertical-align: top;
    }

    .event-points-val {
        margin-bottom: 20px;
    }
    span {
        display: block;
    }

    .minimize {
        text-align: center;
        .minimize-icon {
            margin: auto;
            width: 40px;
            color: $--disabled
        }
    }
}

.popup {
    
}
