@import "styles/vars";
.dashboard {
    height: 100vh;
    .events-dashboard {
        margin-left: $sidebar-width;
        padding-left: 30px;
        padding-right: 30px;
        overflow-y: auto;
        height: 100%;

        .earlier-events-icon {
            position: relative;
            text-align: center;

            .icon {
                color: $--secondaryblack;
            }
        }

        .checkin-button {
            position: fixed;
            top: 20px;
            right: 20px;
        }  
    }

    .event-tile {
        border-top: 1px solid $black;
        padding-top: 15px;
        padding-bottom: 10px;

        white-space:nowrap;
        overflow:hidden;

        &:hover + .event-dropdown {
            display: inherit;
        }

        .img-wrapper {
            display: table-cell;
        }
        .event-img {
            height: $event-img-height;
            width: $event-img-width;
            margin-right: 20px;
        }
        .event-info-wrapper {
            display: table-cell;
            vertical-align: middle;
            overflow:hidden;
            margin-top: 17px; 

            .event-info-right, .event-info-left {
                display: table-cell;
                vertical-align: middle;
            }
            .event-info-left {
                width: 400px;

                .title {
                    width: 350px;
                }
            }

            .event-info {
                height: 29px;
                // word-wrap: normal;
                white-space: nowrap;

                .event-icon {
                    text-align: center;
                    width: 20px;
                    margin-right: 7px;
                }  
            }

            .event-info-right {
                padding-left: 20px;
            }
        }
    }

    .event-dropdown {
        width: 100%;
        display: none;

        &:hover {
            display: inherit;
        }

        .event-button {
            margin-bottom: 7px;
        }

        .dropdown-left, .dropdown-right {
            display: inline-block;
        }

        .dropdown-left {
            text-align: center;
            width: $event-img-width;
            margin-right: 27px;
            
            .points {
                display: block;
            }
        }

        .dropdown-right {
            min-width: 200px;
            max-width: 455px;
            vertical-align: top;
        }

        .event-points-val {
            margin-bottom: 20px;
        }


        .minimize {
            text-align: center;
            .minimize-icon {
                margin: auto;
                width: 40px;
                color: $--disabled
            }
        }

    }
}
