@import "styles/vars";

.events-dashboard {
    margin-left: $sidebar-width + 30px;
    border-left: 2px dashed #DDD;
    padding: 30px;
    overflow: visible;
    z-index: 1;

    .earlier-events-icon {
        position: relative;
        text-align: center;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1.0;
        }
    }

    .checkin-button {
        position: fixed;
        top: 20px;
        right: 20px;
    }
}

.event-day {
    margin-top: 30px;

    h1 {
        color: #333333;
        position: relative;
    }

    .event-day-line {
        background: #AAAAAA;
        margin-bottom: 10px;
        width: 100%;
        height: 1px;
    }

    .circle {
        position: absolute;
        margin-left: -47px;
        margin-top: 3px;
        z-index: 2;
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        background-color: white;
        border: 2px dashed #DDD;

        line-height: 30px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #666666;
    }
}

.event-card {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    margin: 20px;
    border-radius: 4px;
    // border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 3px #D2D2D2;
    background-color: white;
    transition: 0.125s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 20px #C2C2C2;
        transform: scale(1.01, 1.01);
        cursor: pointer;
    }

    .cover {
        width: 100%;
        height: 180px;
        background-color: #F2F2F2;
        background-position: center center;
        background-size: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .content { padding: 20px; }

    h2 {
        color: #333333;
        margin: 0;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.0em;
        font-weight: 400;
        color: #555555;
        margin: 5px 0px;
    }

    .subcontent {
        border-top: 1px solid #F2F2F2;
        margin-top: 10px;
        padding-top: 10px;
        color: #666666;
        // text-transform: uppercase;
        font-weight: 300;
        font-size: 0.8em;

        .time {
            font-weight: 400;
        }
    }
}

.event-dropdown-checkbox {
    visibility: hidden
}

.event-dropdown-checkbox:checked + label {
    .event-dropdown {
        display: inherit;
    }
}

.event-tile {
    white-space:nowrap;
    overflow:hidden;

    &:hover {
        cursor: pointer;
    }

    .img-wrapper {
        display: inline-block;
        height: $event-img-height;
        width: $event-img-width;
        margin-right: 20px;

        .event-img {
            height: $event-img-height;
            width: $event-img-width;
            background-position: center center;
            background-size: cover;
            object-fit: cover;            
        }
    }

    .event-info-wrapper {
        display: inline-block;
        white-space:nowrap;
        overflow:hidden;
        vertical-align: top;
        margin-top: 17px;

        .event-info-right, .event-info-left {
            display: inline-block;
        }
        .event-info-left {
            width: 400px;
        }

        .event-info {
            height: 29px;
            // word-wrap: normal;
            white-space: normal;

            .event-icon {
                text-align: center;
                width: 20px;
                margin-right: 7px;
            }
        }

        .event-info-right {
            padding-left: 20px;
        }
    }
}

.event-dropdown {
    width: 100%;
    display: none;

    p {
        font-weight: normal;
        padding-bottom: 8px;
        line-height: 135%;
    }

    &:hover {
        display: inherit;
    }

    .event-button {
        margin-bottom: 7px;
    }

    .dropdown-left, .dropdown-right {
        display: inline-block;
    }

    .dropdown-left {
        text-align: center;
        width: $event-img-width;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dropdown-right {
        min-width: 200px;
        max-width: 455px;
        vertical-align: top;
    }

    .event-points-val {
        margin-bottom: 20px;
    }
    span {
        display: block;
    }

    .minimize {
        text-align: center;
        .minimize-icon {
            margin: auto;
            width: 40px;
            color: $--disabled
        }
    }
}

.popup {
    
}
