@import "styles/vars";

.events-dashboard {

    margin-left: $sidebar-width;
    padding: 30px;

    // float: left;
    // background: green;

    .earlier-events-icon {
        position: relative;
        text-align: center;
    }

    .checkin-button {
        // float: right;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    
}


.event-tile {
    border-top: 1px solid $black;
    padding-top: 15px;
    padding-bottom: 10px;

            white-space:nowrap;
        overflow:hidden;

    .img-wrapper {
        display: inline-block;
    }
    .event-img {
        height: 100px;
        margin-right: 20px;
    }
    .event-info-wrapper {
        display: inline-block;
        white-space:nowrap;
        overflow:hidden;
        vertical-align: top;
        margin-top: 17px; 

        .event-info-right, .event-info-left {
            display: inline-block;
        }
        .event-info-left {
            width: 400px;
        }

        .event-info {
            height: 29px;
            // word-wrap: normal;
            white-space: normal;
        }

        .event-info-right {
            padding-left: 20px;
        }

        // .event-info-left {
            
        // }
    }
}

