@use "styles/vars";

html,
body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
}

.login {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.login-tile {
  height: 100%;
  width: 60%;
  flex: 1;
  background-color: vars.$primaryblue;
}

.login-sidebar {
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
  background: vars.$white;
  height: 100vh;
  color: vars.$black;
  font-size: 12px;
  width: 40%;
  max-width: 750px;
  min-width: 400px;
  @media (max-width: 500px) {
    width: 100%;
  }

  .login-container {
    background: vars.$white;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 75%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    span {
      margin: 5px 0;
    }

    .sign-in {
      text-align: center;
      width: 100%;
      align-self: center;
    }
  }

  .login-logo {
    display: block;
    margin: auto;
    height: 4rem;

  }

  .login-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }


  .login-description {
    font-size: 1rem;
    color: vars.$gray3;
    margin-bottom: 2rem;
    line-height: 1.75;
  }

  .back-btn {
    color: vars.$secondaryblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 2rem 0;
  }
}
