@import "components/Sidebar/style";
@import "components/Dashboard/style";
@import "components/Login/style";

@import "styles/vars";

html, body {
    margin: 0px;
    height: 100%;
    min-height: 100%;
}
